<!-- ======== TEMPLATE ===================================================== -->

<template>
    <div id="source-wrapper">
        <div id="source-type-wrapper">
            <h2>SOURCE TYPE</h2>
            <div id="source-type-dropdown-wrapper">
                <select name="source-type" id="source-type-dropdown" v-model="sourceType">
                    <!-- <option
                        value="##"
                        data-separator="true"
                        data-img="https://upload.wikimedia.org/wikipedia/commons/d/d2/Solid_white.png"
                    >
                        File Source
                    </option> -->
                    <option value="audio" data-img="https://img.icons8.com/nolan/64/audio-wave.png">
                        Audio (WAV)
                    </option>
                    <option value="csv" data-img="https://img.icons8.com/nolan/64/csv.png">
                        CSV (Comma Separated Values)
                    </option>
                    <option value="html" data-img="https://img.icons8.com/nolan/64/html-5.png">
                        HTML (Hyper Text Markup Language)
                    </option>
                    <option value="image" data-img="https://img.icons8.com/nolan/64/image.png">
                        Image (JPG, PNG)
                    </option>
                    <option value="pdf" data-img="https://img.icons8.com/nolan/64/pdf.png">
                        PDF (Portable Document File)
                    </option>
                    <option value="text" data-img="https://img.icons8.com/nolan/64/txt.png">
                        Text
                    </option>
                    <option value="xls" data-img="https://img.icons8.com/nolan/64/xls.png">
                        XLS (Excel Spreadsheet)
                    </option>
                    <option value="xml" data-img="https://img.icons8.com/nolan/64/xml.png">
                        XML (Extensible Markup Language)
                    </option>
                    <option value="docx" data-img="https://img.icons8.com/nolan/64/word.png">
                        Word Document (DOCX, DOC, ODT)
                    </option>
                    <!-- <option
                        value="##"
                        data-separator="true"
                        data-img="https://upload.wikimedia.org/wikipedia/commons/d/d2/Solid_white.png"
                    >
                        Non-File Source
                    </option>
                    <option value="Email" data-img="https://img.icons8.com/nolan/64/email.png">
                        Email
                    </option>
                    <option
                        value="Proquest"
                        data-img="https://img.icons8.com/nolan/64/document.png"
                    >
                        Proquest
                    </option>
                    <option value="Pubmed" data-img="https://img.icons8.com/nolan/64/view-file.png">
                        Pubmed
                    </option>
                    <option value="Twitter" data-img="https://img.icons8.com/nolan/64/twitter.png">
                        Twitter
                    </option> -->
                </select>
            </div>
        </div>
        <template v-if="sourceType && fileSourceTypes.indexOf(sourceType) !== -1">
            <div id="source-origin-btn-wrapper">
                <div
                    class="source-origin-btn"
                    :class="{ 'source-origin-btn-act': originType === 'URL' }"
                    @click="originType = 'URL'"
                >
                    URL
                </div>
                <!-- <div
                    class="source-origin-btn"
                    :class="{ 'source-origin-btn-act': originType === 'UPLOAD' }"
                    @click="originType = 'UPLOAD'"
                >
                    UPLOAD
                </div> -->
                <div
                    class="source-origin-btn"
                    :class="{ 'source-origin-btn-act': originType === 'SAMPLE' }"
                    @click="originType = 'SAMPLE'"
                >
                    SAMPLE
                </div>
            </div>
            <div id="source-url-wrapper" v-if="originType === 'URL'">
                <input
                    type="url"
                    pattern="https?://.+\..+"
                    placeholder="https://URL/to/source/file"
                    v-model="url"
                />
            </div>
            <!-- <div id="source-upload-wrapper" v-if="originType === 'UPLOAD'">
                <div id="source-uploader-wrapper" v-if="files.length === 0">
                    <div
                        id="source-upload-btn"
                        onclick="document.getElementById('source-upload-input-btn').click();"
                    >
                        Upload source file
                    </div>
                    <input
                        type="file"
                        id="source-upload-input-btn"
                        style="display: none"
                        :accept="getAcceptedTypes"
                        @change="uploadFile"
                    />
                    <button
                        id="source-upload-submit-btn"
                        style="display: none"
                        @click="uploadFileSubmit"
                    />
                </div>
                <div id="source-uploaded-wrapper" v-if="files.length > 0">
                    <div id="source-uploaded-item" v-for="(file, i) in files" :key="file">
                        <h3>{{ file }}</h3>
                        <div id="source-upload-reject-btn" @click="() => deleteFile(i)"></div>
                    </div>
                </div>
            </div> -->
            <div id="source-samples-wrapper" v-if="originType === 'SAMPLE'">
                <form>
                    <div
                        class="source-sample-list-item"
                        v-for="(sample, i) in samples[sourceType]"
                        :key="`${sample}`"
                    >
                        <div class="source-sample-radio-item">
                            <input
                                :id="`sample-${sample}`"
                                type="radio"
                                name="currSample"
                                :value="sample"
                                v-model="currSample"
                            />
                            <label :for="`sample-${sample}`">{{ sample }}</label>
                        </div>
                        <div
                            class="source-sample-download-btn"
                            @click="() => downloadSample(i)"
                        ></div>
                    </div>
                </form>
            </div>
        </template>
    </div>
</template>

<!-- ======== SCRIPT ======================================================= -->

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import BVSelect from '../lib/bvselect';

// interface HTMLInputEvent extends Event {
//     target: HTMLInputElement & EventTarget;
// }

@Options({
    props: {
        authToken: String
    },
    data: () => ({
        fileSourceTypes: ['audio', 'csv', 'html', 'image', 'pdf', 'text', 'xls', 'xml', 'docx'],
        sourceType: null,
        originType: 'URL',
        url: null,
        // file: null,
        // files: [],
        samples: {},
        currSample: null
    }),
    watch: {
        sourceType(newType) {
            this.$emit('sourceTypeChange', newType);
        },
        originType(newType) {
            this.$emit('originTypeChange', newType);
        },
        url(newURL) {
            this.$emit('urlChange', newURL);
        },
        // files(newFiles) {
        //     this.$emit('fileChange', newFiles.length === 0 ? null : newFiles[0]);
        // },
        currSample(newSample) {
            this.$emit('currSampleChange', newSample);
        }
    },
    methods: {
        // getAcceptedTypes() {
        //     switch (this.sourceType) {
        //         case 'audio':
        //             return '.wav';
        //         case 'csv':
        //             return '.csv';
        //         case 'html':
        //             return '.html,.htm';
        //         case 'image':
        //             return '.jpg,.png';
        //         case 'pdf':
        //             return '.pdf';
        //         case 'text':
        //             return '.txt';
        //         case 'xls':
        //             return '.xlsx,.xls';
        //         case 'xml':
        //             return '.xml';
        //         case 'docx':
        //             return '.docx,.doc,.odt';
        //         default:
        //             return null;
        //     }
        // }
        // uploadFile(e: HTMLInputEvent) {
        //     if (e.target.files) {
        //         this.file = e.target.files[0];
        //     }
        //     document.getElementById('source-upload-submit-btn')?.click();
        // },
        // uploadFileSubmit() {
        //     const formData = new FormData();
        //     formData.append('file', this.file);
        //     (async () => {
        //         await fetch(`${process.env.VUE_APP_API_URL}/upload/`, {
        //             method: 'POST',
        //             headers: new Headers({
        //                 'Access-Control-Allow-Origin': '*',
        //                 'api_key': this.authToken
        //             }),
        //             body: formData
        //         });
        //         const res = await (async () => {
        //             const res = await fetch(`${process.env.VUE_APP_API_URL}/files/`, {
        //                 method: 'GET',
        //                 headers: new Headers({
        //                     'Access-Control-Allow-Origin': '*',
        //                     'api_key': this.authToken
        //                 })
        //             });
        //             return res.json();
        //         })();
        //         this.files = res as string[];
        //     })();
        // },
        // deleteFile(index: number) {
        //     const filename = index >= this.files.length ? null : this.files[index];
        //     if (filename) {
        //         (this.files as string[]).splice(index, 1);
        //         this.$emit('fileChange', this.files.length === 0 ? null : this.files[0]);
        //         (async () => {
        //             await fetch(`${process.env.VUE_APP_API_URL}/files/delete/${filename}`, {
        //                 method: 'DELETE',
        //                 headers: new Headers({
        //                     'Access-Control-Allow-Origin': '*',
        //                     'api_key': this.authToken
        //                 })
        //             });
        //         })();
        //     }
        // }
        downloadSample(i: number) {
            const apiURL =
                process.env.NODE_ENV === 'production'
                    ? process.env.VUE_APP_API_URL
                    : process.env.VUE_APP_DEV_API_URL;
            fetch(`${apiURL}/files/sample/${this.samples[this.sourceType][i]}`, {
                method: 'GET',
                headers: new Headers({
                    'Access-Control-Allow-Origin': '*',
                    'api_key': this.authToken
                })
            })
                .then((response) => response.blob())
                .then((blob) => {
                    var url = window.URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = this.currSample;
                    document.body.appendChild(a); // need to append the element to the DOM otherwise it will not work in firefox
                    a.click();
                    a.remove(); //afterwards remove the element
                });
        }
    },
    mounted() {
        const temp: { [key: string]: string[] } = {};
        (async () => {
            const res = await (async () => {
                const apiURL =
                    process.env.NODE_ENV === 'production'
                        ? process.env.VUE_APP_API_URL
                        : process.env.VUE_APP_DEV_API_URL;
                const res = await fetch(`${apiURL}/files/samples`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin': '*',
                        'api_key': this.authToken
                    }
                });
                return res.json();
            })();

            (res as string[]).forEach((item) => {
                const ext = item.split('.')[1].toLowerCase();
                let type = '';
                switch (ext) {
                    case 'jpg':
                    case 'png':
                        type = 'image';
                        break;
                    case 'wav':
                        type = 'audio';
                        break;
                    case 'txt':
                        type = 'text';
                        break;
                    case 'xlsx':
                        type = 'xls';
                        break;
                    case 'odt':
                    case 'docx':
                        type = 'docx';
                        break;
                    default:
                        type = ext;
                }
                if (type in temp) {
                    temp[type].push(item);
                } else {
                    temp[type] = [item];
                }
            });
        })();

        this.samples = temp;

        new BVSelect({
            selector: '#source-type-dropdown',
            width: '100%',
            searchbox: true,
            offset: true,
            placeholder: 'Select Source Type',
            search_placeholder: 'Search ...',
            breakpoint: '300'
        });
    }
})
export default class SourceBox extends Vue {
    /* prop */ authToken!: string;
    /* data */ fileSourceTypes!: string[];
    /* data */ sourceType!: string;
    /* data */ originType!: string;
    /* data */ url!: string;
    // /* data */ file!: File;
    // /* data */ files!: string[];
    /* data */ samples!: { [key: string]: string[] };
    /* data */ currSample!: string;
    // /* method */ uploadFile!: (e: HTMLInputElement) => void;
    // /* method */ uploadFileSubmit!: () => void;
    // /* method */ getAcceptedTypes!: () => string | null;
    // /* method */ deleteFile!: (index: number) => void;
    /* method: */ downloadSample!: (i: number) => void;
}
</script>

<!-- ======== STYLE ======================================================== -->

<style lang="scss" scoped>
@import '../scss/colors';
@import '../lib/bvselect.css';

#source-wrapper {
    position: relative;
    z-index: 10;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $accent-dark;
    color: $text-dark;

    > * {
        box-sizing: border-box;
    }

    #source-type-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h2 {
            box-sizing: border-box;
            width: calc(30% - 1rem);
            height: 3.25rem;
            margin: 0 1rem 0 0;
            border-radius: 0.5rem;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
            background-color: $accent-light;
            color: $text-light;
        }

        #source-type-dropdown-wrapper {
            box-sizing: border-box;
            width: 70%;
            height: 3.25rem;
            border-radius: 0.5rem;
            padding: 0 0.25rem;
            background-color: $accent-light;
        }
    }

    #source-origin-btn-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $boxcolor;

        .source-origin-btn {
            display: grid;
            align-items: center;
            justify-content: center;
            width: 50%;
            border-radius: 0.5rem;
            padding: 0.5rem;
            font-weight: bold;
            background-color: $boxcolor;
            color: $accent;
            cursor: pointer;

            &.source-origin-btn-act {
                background-color: $accent;
                color: $text-light;
                cursor: unset;
            }
        }
    }

    #source-url-wrapper {
        width: 100%;
        height: 3.25rem;
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: $accent-light;

        input[type='url'] {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            border: 2px solid $boxcolor;
            padding: 0 1rem;
            font-size: 1rem;

            &:invalid {
                border: 2px solid $danger;
            }
        }
    }

    #source-upload-wrapper {
        box-sizing: border-box;
        width: 100%;
        height: max-content;
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: $boxcolor;

        #source-uploader-wrapper {
            width: 100%;
            height: 2.25rem;

            #source-upload-btn {
                display: grid;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border: 1px dashed $border;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }

        #source-uploaded-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: max-content;
            background-color: $boxcolor;

            #source-uploaded-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                height: 2.25rem;
                border: 1px solid $border;
                border-radius: 0.5rem;

                &:not(:first-of-type) {
                    margin-top: 0.25rem;
                }

                h3 {
                    width: calc(100% - 2.5rem);
                    margin: 0;
                    font-size: 1rem;
                    font-weight: normal;
                }

                #source-upload-reject-btn {
                    position: relative;
                    display: grid;
                    justify-content: center;
                    width: 1.75rem;
                    height: 1.75rem;
                    border-radius: 0.5rem;
                    background-color: $danger;
                    color: $text-light;
                    cursor: pointer;

                    &::before {
                        display: table;
                        content: '×';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -55%);
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    #source-samples-wrapper {
        width: 100%;
        height: max-content;

        &,
        * {
            box-sizing: border-box;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 1rem;
            border-radius: 0.5rem;
            padding: 0.5rem;
            background-color: $accent-light;

            .source-sample-list-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                padding: 0 1rem;
                border: 1px solid $border;
                border-radius: 0.5rem;
                background-color: $boxcolor;

                &:not(:first-of-type) {
                    margin-top: 0.25rem;
                }

                .source-sample-radio-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: calc(100% - 2rem);
                    height: calc(2.25rem - 2px);
                    margin: 0;
                    font-size: 1rem;
                    font-weight: normal;

                    input[type='radio'] {
                        margin-right: 1.5rem;
                        cursor: pointer;
                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: left;
                        font-style: italic;
                    }
                }

                .source-sample-download-btn {
                    position: relative;
                    display: grid;
                    justify-content: center;
                    width: 1.75rem;
                    height: 1.75rem;
                    border-radius: 0.5rem;
                    background-color: $accent;
                    color: $text-light;
                    cursor: pointer;

                    &::before {
                        display: table;
                        content: '↓';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -55%);
                        font-size: 0.9rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
</style>
