<template>
    <div class="transformer-list-wrapper">
        <div class="transformer-list">
            <TransformerBox
                v-for="(availableTransformers, i) in transformers"
                :key="`transformer_${i}`"
                :transformer-id="`transformer_${i}`"
                :transformer-list-obj="{ list: availableTransformers }"
                @transformer-type-change="(val1, val2) => transformerTypeChange(i, val1, val2)"
                @transformer-arg-change="(val) => transformerArgChange(i, val)"
                :transformer-result="i < transformerResults.length ? transformerResults[i] : ''"
            />
        </div>
        <div
            class="transformer-add-btn"
            v-if="transformerAddBtnShow()"
            @click="transformerAdd"
        ></div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import TransformerBox from './TransformerBox.vue';

import { ITransformer } from '../@types/transformer';

@Options({
    components: {
        TransformerBox
    },
    props: {
        sourceType: String,
        transformerList: {},
        transformerResults: {
            type: Array,
            default: []
        }
    },
    data: () => ({
        transformers: [],
        transformerStates: [],
        transformerLastIndex: -1
    }),
    watch: {
        sourceType(newType) {
            if (newType in this.transformerList.fromSource) {
                this.transformers = [this.transformerList.fromSource[newType]];
                this.transformerStates = [{ type: null, args: {}, params: {} }];
                this.transformerLastIndex = 0;
            } else {
                this.transformers = [];
                this.transformerStates = [];
                this.transformerLastIndex = -1;
            }
        }
    },
    methods: {
        transformerTypeChange(i: number, value: string, params: { input: string; output: string }) {
            this.transformerStates[i]['type'] = value;
            this.transformerStates[i]['params'] = params;
            this.$emit('transformerStatesChange', this.transformerStates);
        },
        transformerArgChange(i: number, value: string) {
            const [key, val] = value.split('|');
            this.transformerStates[i]['args'][key] = val;
            this.$emit('transformerStatesChange', this.transformerStates);
        },
        transformerAddBtnShow() {
            if (this.transformerStates.length === 0) {
                return false;
            }

            const transformerLastState = this.transformerStates[this.transformerLastIndex];
            return transformerLastState.type !== null;
        },
        transformerAdd() {
            const transformerLastState = this.transformerStates[this.transformerLastIndex] as {
                type: string | null;
                args: { [key: string]: string };
                params: { input: string; output: string };
            };
            const transformerNextList =
                this.transformerList['fromDocument'][transformerLastState.params.output];
            this.transformers.push(transformerNextList);
            this.transformerStates.push({ type: null, args: {}, params: {} });
            this.transformerLastIndex++;
        }
    },
    mounted() {
        setTimeout(() => {
            if (this.sourceType in this.transformerList.fromSource) {
                this.transformers = [this.transformerList.fromSource[this.sourceType]];
                this.transformerStates = [{ type: null, args: {}, params: {} }];
                this.transformerLastIndex = 0;
            }
        });
    }
})
export default class TransformerContainer extends Vue {
    sourceType!: string;
    transformerList!: {
        fromSource: ITransformer[];
        fromDocument: ITransformer[];
    };
    transformerResults!: Array<string>;
    transformers!: ITransformer[][];
    transformerStates!: [{ type: string; args: { [key: string]: string } }];
    transformerLastIndex!: number;
    transformerAddBtnShow!: () => boolean;
    transformerTypeChange!: (
        i: number,
        value: string,
        params: { input: string; output: string }
    ) => void;
    transformerArgChange!: (i: number, value: string) => void;
    transformerAdd!: () => void;
}
</script>

<style lang="scss" scoped>
@import '../scss/colors';

.transformer-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 8rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $background-transparent;

    .transformer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .transformer-add-btn {
        position: relative;
        width: 5rem;
        height: 5rem;
        margin: 2rem 0 1.75rem 0;
        border-radius: 50%;
        background-color: $accent-light;
        color: $boxcolor;
        cursor: pointer;
        transition: all 0.25s ease;

        &::before {
            display: table;
            content: '+';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%);
            font-size: 5rem;
            font-style: bold;
        }

        &:hover {
            background-color: $boxcolor;
            color: $accent;
        }
    }
}
</style>
