<template>
    <div class="transformer-wrapper">
        <div class="transformer-type-wrapper">
            <div class="transformer-type-dropdown-wrapper">
                <select
                    name="transformer-type"
                    :id="`${transformerId}_dropdown`"
                    v-model="transformerType"
                ></select>
            </div>
        </div>
        <template v-if="transformerType !== null">
            <div class="transformer-description">
                <p>{{ transformer.description }}</p>
            </div>
            <div class="transformer-params">
                <div class="transformer-params-input-output">
                    <div class="transformer-params-input">
                        <div class="transformer-params-label">INPUT</div>
                        <div class="transformer-params-value">
                            {{ `${transformer.inputType} ${transformer.inputFamily}` }}
                        </div>
                    </div>
                    <div class="transformer-params-output">
                        <div class="transformer-params-label">OUTPUT</div>
                        <div class="transformer-params-value">
                            {{ `${transformer.outputType} ${transformer.outputFamily}` }}
                        </div>
                    </div>
                </div>
                <div class="transformer-params-args">
                    <template v-if="transformer.takesArgs">
                        <div
                            class="transformer-params-args-item"
                            v-for="transformerArg in transformer.argKeys"
                            :key="`${transformerId}_${transformerArg}`"
                        >
                            <div class="transformer-params-label">{{ transformerArg }}</div>
                            <input
                                type="text"
                                class="transformer-params-value-input"
                                placeholder="..."
                                @change="
                                    (e) =>
                                        $emit(
                                            'transformerArgChange',
                                            `${transformerArg}|${e.target.value}`
                                        )
                                "
                            />
                        </div>
                    </template>
                    <div class="transformer-params-no-args" v-if="!transformer.takesArgs">
                        No arguments
                    </div>
                </div>
            </div>
            <div class="transformer-output-wrapper">
                <div class="transformer-output-box">
                    <pre class="transformer-output-box-pre">{{ transformerResultFormat() }}</pre>
                </div>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import BVSelect from '../lib/bvselect';
import beautify from 'json-beautify';

import { ITransformer } from '../@types/transformer';
import Transformer from '../models/Transformer';

function resetDropdown(
    dropdownElem: BVSelect | null,
    selector: string,
    transformerList: Transformer[]
): BVSelect {
    if (dropdownElem !== null) {
        dropdownElem.Destroy();
    }
    dropdownElem = new BVSelect({
        selector: selector,
        width: '100%',
        searchbox: false,
        offset: true,
        placeholder: 'Select Transformer',
        breakpoint: '300'
    });

    const config: { options: { [key: number]: { [key: string]: string | boolean } } } = {
        options: {}
    };
    for (const i in transformerList) {
        config.options[Number(i)] = {
            inner_text: transformerList[i].name,
            value: transformerList[i].name,
            disabled: false,
            separator: false,
            img: false,
            icon: false
        };
    }

    dropdownElem.Change(config);
    dropdownElem.Update();

    return dropdownElem;
}

@Options({
    props: {
        transformerId: String,
        transformerListObj: {},
        transformerResult: String
    },
    data: () => ({
        transformerDropdownElem: null,
        transformerList: null,
        transformerType: null,
        transformer: []
    }),
    watch: {
        transformerListObj(newObj, oldObj) {
            // referential equality check
            if (newObj['list'] !== oldObj['list']) {
                this.transformerList = newObj['list'];

                this.transformerDropdownElem = resetDropdown(
                    this.transformerDropdownElem,
                    `#${this.transformerId}_dropdown`,
                    this.transformerList
                );

                this.transformerType = null;
            }
        },
        transformerType(newType) {
            if (newType !== null && typeof newType === 'string') {
                this.transformer = (this.transformerList as Transformer[]).find(
                    (transformerItem) => transformerItem.name === newType
                );
                this.$emit('transformerTypeChange', newType, {
                    input: (this.transformer as Transformer).inputType,
                    output: (this.transformer as Transformer).outputType
                });
            }
        }
    },
    methods: {
        transformerResultFormat() {
            if (this.transformerResult === '') {
                return '';
            }

            const LIMIT = 100;

            let str = (
                beautify as (
                    value: unknown,
                    replacer: unknown,
                    space: number | string,
                    limit?: number
                ) => string
            )(JSON.parse(this.transformerResult), null, 2, LIMIT);

            const oldLines = str.split('\n');
            let linesCount = 0;
            const newLines = oldLines.map((line) => {
                if (line.length < LIMIT + 1) {
                    linesCount++;
                    return line;
                } else {
                    const splitCount = Math.ceil(line.length / LIMIT);
                    const splits = new Array<string>(splitCount);
                    for (let i = 0; i < splitCount; i++) {
                        splits[i] = line.substring(LIMIT * i, LIMIT * (i + 1));
                    }
                    linesCount += splitCount;
                    return splits.join('\0');
                }
            });

            const wrappedLines = new Array<string>(linesCount);
            linesCount = 0;
            for (const i in newLines) {
                newLines[i].split('\0').forEach((line) => (wrappedLines[linesCount++] = line));
            }
            str = wrappedLines.join('\n');
            return str;
        }
    },
    mounted() {
        this.transformerList = this.transformerListObj['list'];

        this.transformerDropdownElem = resetDropdown(
            this.transformerDropdownElem,
            `#${this.transformerId}_dropdown`,
            this.transformerList
        );
    }
})
export default class SourceBox extends Vue {
    /* prop */ transformerId!: string;
    /* prop */ transformerListObj!: { list: ITransformer[] };
    /* prop */ transformerResult!: string;

    /* data */ transformerList!: ITransformer[];
    /* data */ transformerType!: string;
    /* data */ transformerDropdownElem!: BVSelect;
    /* data */ transformer!: ITransformer;

    /* method */ transformerResultFormat!: () => string;
}
</script>

<style lang="scss" scoped>
@import '../scss/colors';

.transformer-wrapper {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $accent-dark;

    &:not(:first-of-type) {
        margin-top: 2rem;
    }

    .transformer-type-wrapper {
        border-radius: 0.5rem;
        padding: 0 0.25rem;
        color: $text-dark;
        background-color: $accent-light;
    }

    .transformer-description {
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
        color: $text-light;
        background-color: $accent-light;

        p {
            margin: 0;
            text-align: left;
        }
    }

    .transformer-params {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: max-content;
        margin-top: 1rem;
        border-radius: 0.5rem;
        background-color: $accent-light;

        .transformer-params-label,
        .transformer-params-value,
        .transformer-params-value-input {
            padding: 0.5rem 1rem;
        }

        .transformer-params-label {
            width: 30%;
            border-radius: 0.5rem 0 0 0.5rem;
            font-weight: bold;
            color: $text-light;
            background-color: $accent-dark;
        }

        .transformer-params-value,
        .transformer-params-value-input {
            box-sizing: border-box;
            width: 70%;
            min-height: 2.5rem;
            border: 2px solid $accent-dark;
            border-left: none;
            border-radius: 0 0.5rem 0.5rem 0;
            color: $text-dark;
            background-color: $boxcolor;
        }

        .transformer-params-value-input {
            font-size: 0.9rem;
        }

        .transformer-params-input-output,
        .transformer-params-args {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: inherit;
            padding: 0.5rem;
        }

        .transformer-params-input-output {
            .transformer-params-input,
            .transformer-params-output {
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                width: 100%;
            }

            .transformer-params-output {
                margin-top: 0.5rem;
            }
        }

        .transformer-params-args {
            .transformer-params-args-item {
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                width: 100%;

                &:not(:first-of-type) {
                    margin-top: 0.5rem;
                }
            }
        }

        .transformer-params-no-args {
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            height: 5.5rem;
            font-weight: bold;
            color: $text-light;
        }
    }

    .transformer-output-wrapper {
        box-sizing: border-box;
        width: 100%;
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: $accent-light;

        .transformer-output-box {
            min-height: 1rem;
            border-radius: 0.5rem;
            padding: 0.5rem;
            text-align: left;
            background-color: $boxcolor;

            pre {
                width: 100%;
                margin: 0;
                overflow: scroll;
            }
        }
    }
}
</style>
