<!-- ======== TEMPLATE ===================================================== -->

<template>
    <div id="landing" v-if="!authToken">
        <h1>Ingestion Explorer</h1>
    </div>
    <div id="app-container" class="container" v-if="authToken">
        <div id="source-header" :class="{ 'source-not-selected': sourceType === null }">
            <h1>SOURCE FILE</h1>
        </div>
        <SourceBox
            :token="authToken"
            @source-type-change="(value) => (sourceType = value)"
            @origin-type-change="(value) => (originType = value)"
            @url-change="(value) => (url = value)"
            @file-change="(value) => (filename = value)"
            @curr-sample-change="(value) => (currSample = value)"
        />
        <template v-if="sourceType !== null">
            <div id="transformer-header">
                <h1>TRANSFORMERS</h1>
                <h2 @click="ingest">RUN</h2>
            </div>
            <TransformerContainer
                :sourceType="sourceType"
                :transformer-list="transformerList"
                @transformer-states-change="transformerStatesChange"
                :transformer-results="transformerResults"
            />
        </template>
    </div>
</template>

<!-- ======== SCRIPT ======================================================= -->

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

import SourceBox from './components/SourceBox.vue';
import Transformer from './models/Transformer';
import TransformerContainer from './components/TransformerContainer.vue';
import { ITransformerInput } from './@types/transformer';

import { ITransformerDocument } from './@types/ingestion';
import { transformSource, transformDocument } from './utils/ingestion';

interface ITransformerList {
    fromSource: {
        [key: string]: ITransformerInput[];
    };
    fromDocument: {
        [key: string]: ITransformerInput[];
    };
}

@Options({
    components: {
        SourceBox,
        TransformerContainer
    },
    data: () => ({
        authToken: null,
        sourceType: null,
        originType: 'URL',
        url: null,
        filename: null,
        currSample: null,
        transformerList: {},
        transformerStates: [],
        transformerResults: []
    }),
    watch: {
        sourceType() {
            this.transformerStates = [];
            this.transformerResults = [];
        }
    },
    methods: {
        transformerStatesChange(states: {
            type: string | null;
            args: {
                [key: string]: string;
            };
            params: {
                input: string;
                output: string;
            };
        }) {
            this.transformerStates = states;
        },
        ingest() {
            if (this.originType === 'URL' && (this.url === null || this.url === '')) {
                alert('No URL provided. Please enter a valid source URL.');
                return;
            } else if (this.originType === 'SAMPLE' && this.currSample === null) {
                alert('No sample selected. Please select a sample.');
                return;
            }

            (async () => {
                this.transformerResults = [];

                let document: ITransformerDocument | null = null;
                for (let i = 0; i < this.transformerStates.length; i++) {
                    const state = this.transformerStates[i] as {
                        type: string;
                        args: { [key: string]: string };
                    };

                    if (i === 0) {
                        let source: string;
                        if (this.originType === 'URL') {
                            source = this.url;
                        } else if (this.originType === 'FILE') {
                            source = this.filename;
                        } else {
                            source = this.currSample;
                        }
                        document = await transformSource(this.authToken, {
                            source_type: (this.sourceType as string).toLowerCase(),
                            origin_type: this.originType,
                            source: source,
                            transformer: state.type,
                            arguments: state.args
                        });
                    } else {
                        document = await transformDocument(this.authToken, {
                            document: document as unknown as ITransformerDocument,
                            transformer: state.type,
                            arguments: state.args
                        });
                    }

                    this.transformerResults.push(JSON.stringify(document));
                }
            })();
        }
    },
    mounted() {
        (async () => {
            const query = location.search;
            if (query.includes('code=') && query.includes('state=')) {
                // complete login flow
                await this.$auth.handleRedirectCallback();
                // remove unused query parameters from search URL
                history.replaceState({}, document.title, location.pathname);
            }

            if (!(await this.$auth.isAuthenticated())) {
                await this.$auth.loginWithRedirect({});
            } else {
                this.authToken = await this.$auth.getTokenSilently();
            }
        })();

        (async () => {
            const res = await (async () => {
                const apiURL =
                    process.env.NODE_ENV === 'production'
                        ? process.env.VUE_APP_API_URL
                        : process.env.VUE_APP_DEV_API_URL;
                const res = await fetch(`${apiURL}/ingestion/schema`, {
                    method: 'GET',
                    headers: new Headers({
                        'Access-Control-Allow-Origin': '*',
                        'api_key': this.authToken
                    })
                });
                return res.json();
            })();

            // mocking a JSON deep copy
            const temp = JSON.parse(JSON.stringify(res))['transformers'] as ITransformerList;

            const tempList = {} as {
                fromSource: { [key: string]: Transformer[] };
                fromDocument: { [key: string]: Transformer[] };
            };
            tempList.fromSource = {};
            tempList.fromDocument = {};
            Object.keys(temp.fromSource).forEach((type) => {
                tempList.fromSource[type] = temp.fromSource[type].map(
                    (item) => new Transformer(item)
                );
            });
            Object.keys(temp.fromDocument).forEach((type) => {
                tempList.fromDocument[type] = temp.fromDocument[type].map(
                    (item) => new Transformer(item)
                );
            });

            this.transformerList = tempList;
        })();
    }
})
export default class App extends Vue {
    /* data */ authToken!: string;
    /* data */ sourceType!: string;
    /* data */ originType!: string;
    /* data */ currSample!: string;
    /* data */ url!: string;
    /* data */ filename!: string;
    /* data */ currsample!: string;
    /* data */ transformerList!: ITransformerList;
    /* data */ transformerStates!: [{ type: string; args: { [key: string]: string } }];
    /* data */ transformerResults!: string[];
    transformerStatesChange!: (states: {
        type: string | null;
        args: {
            [key: string]: string;
        };
        params: {
            input: string;
            output: string;
        };
    }) => void;
    ingest!: () => void;
}
</script>

<!-- ======== STYLE ======================================================== -->

<style lang="scss">
@import './scss/colors.scss';
@import './scss/container.scss';

#app {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: $background;

    #landing {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;

        h1 {
            margin: 0;
            padding: 0;
            color: $accent;
        }
    }

    #app-container {
        position: relative;
        z-index: 10;
        height: inherit;

        @mixin header-content {
            position: relative;
            width: 100%;
            height: 4rem;
            margin: 1rem 0;
            transition: margin 0.5s ease;

            &::after {
                display: table;
                content: '';
                position: absolute;
                z-index: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 1.5rem;
                border-radius: 0.25rem;
                background-color: $accent-dark;
            }

            h1 {
                position: absolute;
                z-index: 1;
                top: 50%;
                transform: translateY(-52.5%);
                margin: 0 0 0 3.5rem;
                padding: 0 1.5rem;
                font-size: 1.5rem;
                font-weight: 700;
                color: $accent;
                background-color: $background;
            }
        }

        #source-header,
        #transformer-header {
            @include header-content();
        }

        #source-header {
            &.source-not-selected {
                margin: 15rem 0 1rem 0;
            }
        }

        #transformer-header {
            margin-top: 3rem;

            h2 {
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 0;
                transform: translateY(-52.5%);
                margin: 0 4rem;
                border: 1px solid $accent-dark;
                border-radius: 0.5rem;
                padding: 0.125rem 1rem;
                font-size: 1.5rem;
                color: $accent;
                background-color: $boxcolor;
                cursor: pointer;
                transition: all 0.25s ease;

                &:hover {
                    color: $boxcolor;
                    background-color: $accent-light;
                }
            }
        }
    }
}
</style>
