$background: #f4f4f4;
$background-transparent: rgba(0, 0, 0, 0.1);

$accent: hsl(152, 66%, 30%);
$accent-light: hsl(152, 50%, 40%);
$accent-dark: hsl(152, 67%, 20%);

$text-light: white;
$text-dark: #262626;

$boxcolor: white;
$border: silver;
$danger: #ff4757;
